<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<h1>Authenticated Area</h1>



<h2>
    You are authenticated as: <span sec:authentication="name"></span>
</h2>

<a href="/secured/admin">To Admin Area</a>
<a href="/secured/user">To invoke Oauth 2</a>

<br>
<br>
<br>
<br>
<br>
<form th:action="@{/sso/logout}" method="POST">
    <!-- CSRF token will be emitted by Spring Security -->
    <input type="submit" value="Logout"/>
</form>

</html>
